/**************************************************************
*     ####         #                               #          * Jobuzzle - Copyright All rights reserved
*     ####         #                               #          *
*       ##  #####  ######  #     # ####### ####### #  #####   * @Author: revers
*       ## #     # #     # #     #      #       #  # #     #  *
*       ## #     # #     # #     #     #       #   # #     #  * @Date:   2015-08-08 11:12:49
*       ## #     # #     # #     #    #       #    # #     #  *
*       ## #     # #     # #     #   #       #     # ######   * @Last Modified by:   revers
*  ####### #     # #     # #     #  #       #      # #        *
*  ######   #####   ######  #####  ####### ####### # #######  * @Last Modified time: 2015-11-06 16:22:25
**************************************************************/

div.panel {
	width : 100%;
	line-height: 42px;
	box-sizing: border-box;

	div.title_panel {
		padding-left : 20px;
		background-color: darken($secondary_color, 5);
		cursor: pointer;
		font-style: italic;
		color : $white_color;
		border-top : 1px solid darken($secondary_color, 3);
		font-size : 20px;
		height: 42px;

		div.previousTitlePanel {
			display : inline-block;
			width: 30px;
			height: 30px;
			margin-left: 15px;

			div.miniature, i.fa {
				width: 100%;
				height: 100%;
				margin-top : 4px;
				font-size: 30px;
				color : rgba($white_color, 0.5);
			}

			div.miniature {
				border: 1px solid lighten($primary_color, 5);
			}
		}

		span.title {
			vertical-align: top;
			margin-left : 15px;
			width: 180px;
			display: inline-block;
			vertical-align: top;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		i.back {
			line-height: 40px;
			color : rgba($white_color, 0.5);
			float : left;
			margin-left: -10px;
			text-shadow: none;
		}

		&:hover {
			i {
				color : rgba($white_color, 0.8);
				cursor: pointer;
			}
		}
	}

	ul {
		width: 100%;
		padding: 0px;
		margin : 0px;
		list-style: none;

		li {
			cursor: pointer;
			background-color: darken($primary_color, 2);
			margin : 1px 0px;
			padding-left : 30px;
			height: 50px;
			line-height: 50px;
			position: relative;
			transition: 0.1s;
			font-size : 18px;
			font-weight: 100;
			color : rgba(white, 0.8);

			&.active {
				background-color: rgba($tercary_color, 0.2);
				color : white;

				&:after {
					content: '';
					height: 50px;
					width: 3px;
					background-color: darken($secondary_color, 5);
					position: absolute;
					right: 0px;
				}
			}

			&:not(.active):hover {
				background-color: rgba($secondary_color, 0.03);	
				color : rgba(white, 0.9);
			}
		}
	}
}